@page
@model Shop_Admin_EndPoint.Pages.Visitor.IndexModel
@{
}
<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
<link href="~/Theme/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
<link href="~/Theme/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
<link href="~/Theme/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

<div class="row layout-top-spacing">

    <div class="col-xl-5 col-lg-12 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-table-one">
            <div class="widget-heading">
                <h5 class="">آمار امروز</h5>
            </div>

            <div class="widget-content">
                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">
                            <div class="t-icon">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                </div>
                            </div>
                            <div class="t-name">
                                <h4>تعداد کاربران انلاین سایت</h4>
                                <p class="meta-date"> @Model.OnlineUserCount</p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">
                            <div class="t-icon">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                </div>
                            </div>
                            <div class="t-name">
                                <h4>تعداد بازدید </h4>
                                <p class="meta-date"> @Model.ResultTodayReport.Today.PageViews</p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">
                            <div class="t-icon">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                </div>
                            </div>
                            <div class="t-name">
                                <h4>تعداد بازدید کنندگان</h4>
                                <p class="meta-date"> @Model.ResultTodayReport.Today.Visitors</p>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">
                            <div class="t-icon">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                </div>
                            </div>
                            <div class="t-name">
                                <h4>بازدید از صفحه در هر بازدید </h4>
                                <p class="meta-date"> @Model.ResultTodayReport.Today.ViewsPerVisitor</p>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-xl-5 col-lg-12 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-table-one">
            <div class="widget-heading">
                <h5 class="">آمار کل بازدید</h5>
            </div>

            <div class="widget-content">
                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">
                            <div class="t-icon">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                </div>
                            </div>
                            <div class="t-name">
                                <h4>تعداد بازدید </h4>
                                <p class="meta-date"> @Model.ResultTodayReport.GeneralStats.TotalPageViews</p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">
                            <div class="t-icon">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                </div>
                            </div>
                            <div class="t-name">
                                <h4>تعداد بازدید کنندگان</h4>
                                <p class="meta-date"> @Model.ResultTodayReport.GeneralStats.TotalVisitors</p>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">
                            <div class="t-icon">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                </div>
                            </div>
                            <div class="t-name">
                                <h4>بازدید از صفحه در هر بازدید </h4>
                                <p class="meta-date"> @Model.ResultTodayReport.GeneralStats.PageViewsPerVisit</p>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-lg-12 layout-spacing">
        <div class="widget widget-table-two">

            <div class="widget-heading">
                <h5 class=""> آخرین بازدید ها</h5>
            </div>

            <div class="widget-content">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><div class="th-content">Ip</div></th>
                                <th><div class="th-content">لینک</div></th>
                                <th><div class="th-content">لینک ارجاع</div></th>
                                <th><div class="th-content th-heading">مرمرگر</div></th>
                                <th><div class="th-content"> سیستم عامل </div></th>
                                <th><div class="th-content"> خزنده؟ </div></th>
                                <th><div class="th-content"> زمان </div></th>
                                <th><div class="th-content"> شناسه کاربر </div></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ResultTodayReport.visitors)
                            {
                                <tr>
                                    <td><div class="td-content product-brand">@item.Ip</div></td>
                                    <td><div class="td-content product-brand">@item.CurrentLink</div></td>
                                    <td><div class="td-content product-brand">@item.ReferrerLink</div></td>
                                    <td>
                                        <div class="td-content customer-name">
                                            @if (item.Browser.Contains("Chrome"))
                                            {
                                                <img height="30" width="30" src="~/Icon/chrome.png" />
                                            }
                                            else if (item.Browser.Contains("Firefox"))
                                            {
                                                <img height="30" width="30" src="~/Icon/firefox.png" />
                                            }
                                            else
                                            {
                                                <img height="30" width="30" src="~/Icon/browser.png" />
                                            }
                                        </div>
                                    </td>
                                    <td><div class="td-content">@item.OperationSystem</div></td>
                                    <td><div class="td-content">@item.IsSpider</div></td>
                                    <td><div class="td-content pricing"><span class="">@item.Time</span></div></td>
                                    <td><div class="td-content"><span class="badge outline-badge-primary">@item.VisitorId</span></div></td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="chartLine" class="col-xl-12 layout-top-spacing layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>ساده</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div id="s-line" class=""></div>
            </div>
        </div>
    </div>

    <div id="chartLine" class="col-xl-12 layout-top-spacing layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>بازدید 30 روز گذشته</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div id="s-lineDay" class=""></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Theme/assets/js/scrollspyNav.js"></script>
    <script src="~/Theme/assets/js/dashboard/dash_1.js"></script>
    <script src="~/Theme/plugins/apex/apexcharts.min.js"></script>
    <script>

        var DisplayHour = @Html.Raw(Json.Serialize(Model.ResultTodayReport.Today.VisitPerhour.Display));
        var ValueHour = @Html.Raw(Json.Serialize(Model.ResultTodayReport.Today.VisitPerhour.Value));

        var sline = {
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                },
                toolbar: {
                    show: false,
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'straight'
            },
            series: [{
                name: "Desktops",
                data: ValueHour, //[150, 41, 35, 91, 49, 62, 69, 91, 148]
            }],
            title: {
                text: 'بازدید 24 ساعت گذشته',
                align: 'right',
                offsetX: -95,
            },
            grid: {
                row: {
                    colors: ['#f1f2f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            xaxis: {
                categories: DisplayHour, //['فروردین', 'اردیبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر'],
            },
            yaxis: {
                labels: {
                    offsetX: -20,
                }
            }
        }
        var chart = new ApexCharts(
            document.querySelector("#s-line"),
            sline
        );
        chart.render();

        ///----------

        var DisplayDay = @Html.Raw(Json.Serialize(Model.ResultTodayReport.GeneralStats.VisitPerDay.Display));
        var ValueDay = @Html.Raw(Json.Serialize(Model.ResultTodayReport.GeneralStats.VisitPerDay.Value));

        var slineDay = {
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                },
                toolbar: {
                    show: false,
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'straight'
            },
            series: [{
                name: "Desktops",
                data: ValueDay, //[150, 41, 35, 91, 49, 62, 69, 91, 148]
            }],
            title: {
                text: 'بازدید 30 روز گذشته',
                align: 'right',
                offsetX: -95,
            },
            grid: {
                row: {
                    colors: ['#f1f2f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            xaxis: {
                categories: DisplayDay, //['فروردین', 'اردیبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر'],
            },
            yaxis: {
                labels: {
                    offsetX: -20,
                }
            }
        }
        var chartDay = new ApexCharts(
            document.querySelector("#s-lineDay"),
            slineDay
        );
        chartDay.render();
    </script>
}